<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>

    <compilation debug="true" targetFramework="4.5.2" />

    <httpRuntime targetFramework="4.5.2" />
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <!--This is to replace the standalone svc file whic is the legacy of asp.net web app.-->
        <add relativeAddress="RealWorldServices/RealWorld.svc" service="Fonlow.Demo.RealWorldService.Service1" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="Fonlow.Demo.RealWorldService.Service1" behaviorConfiguration="authBehavior">
        <!-- Service Endpoints. A Service may provide multiple endpoints -->
        <!-- Not need to define host. Relative  -->
        <endpoint address="" binding="basicHttpsBinding" contract="Fonlow.Demo.RealWorldService.IService1" bindingConfiguration="httpsBindingConfig">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpsBinding>
        <binding name="httpsBindingConfig">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="authBehavior">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Fonlow.Web.Identity.IdentityValidator,Fonlow.RealWorldImp" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Fonlow.Web.Identity.RoleAuthorizationManager,Fonlow.RealWorldImp" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sharedListeners>
      <add name="hubListener" type="Fonlow.Diagnostics.HubTraceListener, Fonlow.HubTraceListener" template="{Message}{Data}" hubUrl="http://localhost:30510/" apiUser="anonymous" apiPassword="Aaaaaa*8" instanceId="WcfService" />
    </sharedListeners>
    <switches>
      <add name="TraceLevelSwitch" value="Verbose" />
    </switches>
    <sources>
      <source name="myAppSource" switchValue="All">
        <listeners>
          <clear />
          <add name="hubListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="hubListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="hubListener" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\logs\RealWorldService.log" />
        <add name="hubListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>