<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--%userprofile%\documents\iisexpress\config\applicationhost.config check this for host site info-->
    <!-- #ifdef _xml_preprocess -->
    <!-- #else -->
    <add key="Testing_UseIisExpress" value="True" />
    <add key="Testing_HostSite" value="WcfService1" />
    <add key="Testing_HostSiteApplicationPool" value="Clr4IntegratedAppPool" />
    <!-- #endif -->
  </appSettings>

  <system.net>
    <!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
    <defaultProxy enabled="true">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>

    <connectionManagement>
      <!--For a good value, refer to http://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.aspx-->
      <add address="*" maxconnection="64"/>
    </connectionManagement>
  </system.net>

  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="basicHttpBindingConfig">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8999/RealWorldServices/RealWorld.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Fonlow.RealWorldService.Clients.IService1" name="DefaultBinding_RealWorld"/>
    </client>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
